<!DOCTYPE html>
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Estudiante Form</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="/images/icon.ico" type="image/x-icon" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
</head>

<body>
	<div class="header_section">
		<nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-2">
			<div class="container">
				<div class="logo"><a href="/index"><img src="/images/logo2.png"></a></div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/Bibliot/estudiantes/}">Volver</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="news_section">
		<div class="container">
			<h1 class="health_taital text-center" style="font-size: 30px;">Formulario Estudiante</h1>
			<div class="news_section_2 py-2">
				<div class="row">
					<div class="col-lg-4 col-sm-6"></div>
					<div class="col-lg-4 col-sm-6">
						<div class="border p-4">
							<form th:action="@{/Bibliot/estudiantes/save}" th:object="${estudiante}" method="post" class="">
								<div class="form-group">
									<label for="documento">Documento:</label>
									<input type="text" name="documento" th:field="*{documento}" class="form-control caja"
										autocomplete="off" required />
								</div>
								<div class="form-group">
									<label for="nombre">Nombre:</label>
									<input type="text" id="nombre" th:field="*{nombre}" class="form-control caja"
										autocomplete="off" required/>
								</div>
								<div class="form-group">
									<label for="apellido">Apellido:</label>
									<input type="text" id="apellido" th:field="*{apellido}" class="form-control caja"
										autocomplete="off" required/>
								</div>
								<div class="form-group">
									<label for="correo">Correo:</label>
									<input type="text" id="correo" th:field="*{correo}" class="form-control caja"
										autocomplete="off" required/>
								</div>
								
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary">Guardar</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.0.0.min.js"></script>
	<script src="/js/plugin.js"></script>
	<!-- sidebar -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/custom.js"></script>
	<!-- javascript -->
	<script src="/js/owl.carousel.js"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>